<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="yr" type="faithful" logo="drip-4-header" h="304" logofile="drip-4-header.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrlFb}}">
                <img class="atri" id="ctaImg1" type="cta" h="90" button="Share on Facebook!" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrlTw}}">
                <img class="atri" id="ctaImg2" type="cta" h="90" button="Share on Twitter!" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrlIg}}">
                <img class="atri" id="ctaImg3" type="cta" h="90" button="Share on Instagram!" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="cccc" type="faithful" logo="lg" />
            </a>
        </td>
    </tr>
</table>