<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg" type="guestlist" h="220" textLeft="25" smallText1="Join us as we watch The Faithful live."
                    smallStyle="#333333" medStyle="#000000" bigStyle="#000000" smallText2="Showtimes from March 19-21 at 2pm & 7pm EDT"
                    medText="" bigText="You're on our Guest List" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img alt="The Faithful: The King. The Pope. The Princess." id="headerImage"
                    src="https://www.the-faithful.com/img/email-footer-4.jpg"
                    style="padding-top:0px;padding-bottom:0px" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg2" type="bodytext" h="120" y="80" minfont="24" maxfont="24" font="recoleta-bold"
                    fg="#000000" text="How do I watch the film and view the Q&A?" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg3" type="bodytext" h="150" minfont="10" maxfont="24" fg="#333333"
                    text="Your email is your login. No password required. On the day of the show, visit www.the-faithful.com or click the button below. We'll email you a reminder as we get closer to the event." />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrlLogin}}?email={{to}}">
                <img class="atri" id="ctaImg5a" type="cta" button="LOGIN" h="100" />
            </a>
        </td>
    </tr>

    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg7a" type="bodytext" h="60" minfont="24" maxfont="24" font="recoleta-bold"
                    fg="#000000" text="Is this a live event?" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg4a" type="bodytext" h="120" minfont="10" maxfont="24" fg="#333333"
                    text="Yes, it's a live showing, followed by a Q&A with the filmmaker. You'll want to be punctual." />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg7az" type="bodytext" h="60" minfont="24" maxfont="24" font="recoleta-bold"
                    fg="#000000" text="When can I watch?" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg4az" type="bodytext" h="180" minfont="10" maxfont="24" fg="#333333"
                    text="Live screenings are twice daily at 2pm and 7pm New York (EDT) time. Your email address is all that's needed to attend any or all showings Friday, Saturday or Sunday, March 19-21." />
            </a>
        </td>
    </tr>
            {{#if gifter}}
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg2g" type="bodytext" h="60" y="20" minfont="24" maxfont="24" font="recoleta-bold"
                    fg="#000000" text="Who gave me this ticket?" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg3g" type="bodytext" h="60" minfont="10" maxfont="24" fg="#333333"
                    text="You can thank your friend {{gifter}}" />
            </a>
        </td>
    </tr>
    {{/if}}

    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrlLogin}}?email={{to}}">
                <img class="atri" id="staytuned" type="bodytext" h="120" minfont="24" maxfont="24" font="recoleta-bold"
                    fg="#000000"
                    text="Stay tuned. We'll send further updates via email as we get closer to the event." />
            </a>
        </td>
    </tr>

</table>