<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaTop}}">
                <img class="atri" id="yr" type="faithful" logo="opening-1-top" h="543" logofile="opening-1-top.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaTop}}">
                <img class="atri" id="ctaImg1" type="cta" h="90" button="Login" bg="#fddfde" />
            </a>
        </td>
    </tr>

    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaTop}}">
                <img class="atri" id="mid-img" type="faithful" logo="opening-1-top" h="600" logofile="opening-1-middle.png" />
            </a>
        </td>
    </tr>

    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaBottom}}">
                <img class="atri" id="ctaImg3" type="cta" h="90" button="More Information" bg="#fddfde" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaBottom}}">
                <img class="atri" id="bottom-img" type="faithful" logo="opening-1-bottom" h="213" logofile="opening-1-bottom.png" />
            </a>
        </td>
    </tr>
</table>