<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
    <tr>
        <td valign="top" class="headerContent" style="background-color:#fedfd7;">
            <p style="padding: 15px">Thank you for joining us for a momentous opening weekend! Our heads are still
                spinning from the
                tremendous turnout (over 500 viewers!), and from the outpouring of love and support, still circling our
                brains.
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent" style="background-color:#fedfd7; text-align:center;">
            <blockquote>
 "Exquisite storytelling" 
            </blockquote>
            <blockquote>
"A magnum opus"
            </blockquote>
            <blockquote>
“Mesmerizing"
            </blockquote>
            <blockquote>
"A work of art!"
            </blockquote>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent" style="background-color:#fedfd7;">
            <p style="padding: 15px">Could you do us a quick favor? We created a short survey to help us figure out
                our next steps.
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="ctaImg" type="cta" h="90" button="TAKE OUR SHORT SURVEY" />
            </a>
        </td>
    </tr>

    <tr>
        <td valign="top" class="headerContent" style="background-color:#fedfd7;">
            <p style="padding: 15px">
                Did you miss it? You can now <a style="font-weight: bold; color: #777777" href="https://www.the-faithful.com/">stream The
                    Faithful from our website</a> as well as on <a style="font-weight: bold; color: #777777"
                    href="https://cinnamon.video/watch?v=542589753027987412&utm_source=thefaithful">Cinnamon</a>.
                Cinnamon is a beautiful new streaming platform that directly supports creators without resorting to
                advertising.
            </p>
        </td>
    </tr>

    <tr>
        <td valign="top" class="headerContent" style="background-color:#fedfd7;">
            <p style="padding-left: 15px">
                Much gratitude,
       </p>
            <p style="padding-left: 15px">
Annie Berman & Team
       </p>
        </td>
    </tr>



    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="bottom-img" type="faithful" logo="friend-25-footer" h="710"
                    logofile="friend-25-footer.png" />
            </a>
        </td>
    </tr>


    {{#if disabledok}}
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg" type="plaintext" h="300" textLeft="25" smallStyle="#111111"
                    medtextsize="39" smallText1="Could you take our short survey"
                    smallText2=" to figure out what's next?" bigStyle="#000000" medStyle="#333333"
                    medText="March 19-21 at 2pm & 7pm EDT" bigText="Thank you for joining us!" />
            </a>
        </td>
    </tr>

    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="ccc" type="faithful" logo="lg" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg3" type="bodytext" h="150" minfont="10" maxfont="24" fg="#000000" y="1"
                    ws="75"
                    text="From writer/director Annie Berman comes a stirring exploration into the orbits of three of the biggest cultural icons of our time: Princess Diana, Elvis Presley, and Pope John Paul II" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="lrn-more" type="cta" h="120" button="LEARN MORE" />
            </a>
        </td>
    </tr>
    {{/if}}

</table>