<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}?email={{to}}">
                <img class="atri" id="topImg" type="receipt" h="320" textLeft="25" smallText1="Screening twice daily"
                    smallStyle="#333333" medStyle="#000000" bigStyle="#000000" smallText2="March 19-21 at 2pm & 7pm EDT"
                    medText="Thank you very much" bigText="You've Got a Ticket!" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}?email={{to}}">
                <img alt="The Faithful: The King. The Pope. The Princess." id="headerImage"
                    src="https://www.the-faithful.com/img/email-footer-4.jpg"
                    style="padding-top:0px;padding-bottom:0px" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="https://www.the-faithful.com/?email={{to}}">
                <img class="atri" id="topImg2" type="bodytext" h="90" y="60" minfont="24" maxfont="24" font="recoleta-bold"
                    fg="#000000" text="How do I watch the film and view the Q&A?" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="https://www.the-faithful.com/?email={{to}}">
                <img class="atri" id="topImg3" type="bodytext" h="120" minfont="10" maxfont="24" fg="#333333"
                    text="On the day of the show, visit www.the-faithful.com or click the button below: We'll email you a reminder as we get closer to the event." />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}?email={{to}}">
                <img class="atri" id="ctaImg5a" type="cta" button="LOGIN" h="100" />
            </a>
        </td>
    </tr>

    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}?email={{to}}">
                <img class="atri" id="topImg7a" type="bodytext" h="60" minfont="24" maxfont="24" font="recoleta-bold"
                    fg="#000000" text="Is this a live event?" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}?email={{to}}">
                <img class="atri" id="topImg4a" type="bodytext" h="120" minfont="10" maxfont="24" fg="#333333"
                    text="Yes, it's a live showing, followed by a Q&A with the filmmaker. You'll want to be punctual." />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="https://www.the-faithful.com/?email={{to}}">
                <img class="atri" id="topImg7" type="bodytext" h="60" minfont="24" maxfont="24" font="recoleta-bold"
                    fg="#000000" text="Can I login before the show?" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}?email={{to}}">
                <img class="atri" id="topImg4" type="bodytext" h="120" minfont="10" maxfont="24" fg="#333333"
                    text="Yes, a partial preview of what our theatre experience is like is available by clicking the button below." />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}?email={{to}}">
                <img class="atri" id="ctaImg5" type="cta" button="LOGIN FOR A PREVIEW" h="100" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="https://www.the-faithful.com/?email={{to}}">
                <img class="atri" id="staytuned" type="bodytext" h="120" minfont="24" maxfont="24" font="recoleta-bold"
                    fg="#000000"
                    text="Stay tuned. We'll send further updates via email as we get closer to the event." />
            </a>
        </td>
    </tr>

</table>