<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="yr" type="faithful" logo="yr-invited" />
            </a>
        </td>
    </tr>
    {{#if disabledok}}
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg" type="plaintext" h="300" textLeft="25" smallStyle="#111111"
                    medtextsize="39" smallText1="Please join us for the Faithful's Live World Premiere,"
                    smallText2="from the comfort of your own home." bigStyle="#000000" medStyle="#333333"
                    medText="March 19-21 at 2pm & 7pm EDT" bigText="You're Invited!" />
            </a>
        </td>
    </tr>
    {{/if}}
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="ctaImg" type="cta" h="120" button="RESERVE YOUR 'SEAT'" />
            </a>
        </td>
    </tr>

    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="ccc" type="faithful" logo="lg" />
            </a>
        </td>
    </tr>
        <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="topImg3" type="bodytext" h="150" minfont="10" maxfont="24" fg="#000000" y="1" ws="75"
                    text="From writer/director Annie Berman comes a stirring exploration into the orbits of three of the biggest cultural icons of our time: Princess Diana, Elvis Presley, and Pope John Paul II" />
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="lrn-more" type="cta" h="120" button="LEARN MORE" />
            </a>
        </td>
    </tr>

</table>